main {
    
}

h1 {
    font-size: xx-large;
    font-weight: lighter;
    color: crimson;
    background-color: coral;
    max-width: fit-content;
}

div {
    max-width: fit-content;
    background-color: darkgreen;
    color: white;
}

ul {
    background-color: blueviolet;
}